* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

body {
	background-color: turquoise;
}

header {
	height: 5rem;
	background-color: white;
}

header .container {
	display: flex;
	align-items: center;
	height: 100%;
}

header h1 {
	margin-right: auto;
}

main {
	display: flex;
	height: calc(100vh - 8rem);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 700px;
	height: 600px;
	border: 1px solid black;
}

.grid h2 {
	text-align: center;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px black solid;
	cursor: pointer;
}

.cell.selected {
	background-color: yellow;
}

footer {
	height: 3rem;
	background-color: white;
}

footer .container {
	display: flex;
	align-items: center;
	height: 100%;
}

.bombs{
    background-color: red;
}